{% if section.blocks.size > 0 %}
  <div class="sidebar four columns toggle-all--{{ section.settings.toggle }}">
    <div class="sidebar_content">

      {% if section.settings.display_social_buttons %}
        <div class="sideSections">
          {% render "social-buttons-v2" with "article" %}
        </div>
      {% endif %}

      {% assign ctas = 0 %}
      {% for block in section.blocks %}
        <div {{ block.shopify_attributes }} class="sideSections sideSections--{{ block.type }}">
          {% if block.type == 'menu' %}
            {% assign sidebar_menu = linklists[block.settings.custom_menu_linklist] %}
            {% if sidebar_menu != blank %}
              <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span>{{ sidebar_menu.title }}</h4>
              <ul class="blog_list toggle_list">
                {% for link in sidebar_menu.links %}

                  {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
                    {% assign parent_link = false %}
                  {% else %}
                    {% assign parent_link = true %}
                  {% endif %}

                  <li>
                    <a class="parent-link--{{ parent_link }} {% if link.active or link.child_active %}active{% endif %}" {% if parent_link %}href="{{ link.url }}"{% endif %}>
                      {{ link.title }}</a>

                    {% if link.links != blank %}
                      <span class="menu-toggle" aria-haspopup="true" aria-expanded="false"><span>+</span></span>

                      <ul class="{% if link.active or link.child_active %}active{% endif %}">
                        {% for sub_link in link.links %}

                          {% if sub_link.url == 'http://' or sub_link.url == '' or sub_link.url == '/' or sub_link.url == 'https://' or sub_link.url == '#' %}
                            {% assign parent_link = false %}
                          {% else %}
                            {% assign parent_link = true %}
                          {% endif %}

                          <li class="sub-menu {% if sub_link.active or sub_link.child_active %}active{% endif %}">
                            <a class="parent-link--{{ parent_link }} {% if sub_link.active or sub_link.child_active %}active{% endif %}" {% if parent_link %}href="{{ sub_link.url }}"{% endif %}>
                              {{ sub_link.title }}</a>
                            {% if sub_link.links != blank %}
                              <span class="menu-toggle" aria-haspopup="true" aria-expanded="false"><span>+</span></span>

                              <ul class="{% if sub_link.active or sub_link.child_active %}active{% endif %}">
                                {% for sub_sub_link in sub_link.links %}
                                  <li class="sub-menu">
                                    <a {% if sub_sub_link.active %}class="active"{% endif %} href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <h4 class="toggle"><span>+</span>Menu title</h4>
              <ul class="blog_list toggle_list">
                <li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li>
              </ul>
            {% endif %}


          {% elsif block.type == 'page' %}
            {% if block.settings.content_page != blank %}
              <h4 class="toggle"><span>+</span>{{ pages[block.settings.content_page].title }}</h4>
              <ul class="blog_list toggle_list content_block">
                <li>{{ pages[block.settings.content_page].content }}</li>
              </ul>
            {% else %}
              <h4 class="toggle"><span>+</span>Page title</h4>
              <ul class="blog_list toggle_list">
                <li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li>
              </ul>
            {% endif %}

          {% elsif block.type == 'search' %}
            <form class="blog_search" action="/search">
              <input type="hidden" name="type" value="article">
              <span class="icon-search"></span>
              <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.title' | t }} {{ blog.title | escape }}..." autocapitalize="off" autocomplete="off" autocorrect="off" value="{{ search.terms }}">
            </form>

          {% elsif block.type == 'newsletter' %}
            <h4>{{ 'blogs.sidebar.subscribe' | t }}</h4>
            {% if block.settings.newsletter_richtext != blank %}
              {{ block.settings.newsletter_richtext }}
            {% endif %}
            {% render 'newsletter' %}

          {% elsif block.type == 'recent_posts' %}
            {% assign current_article = article.id %}
            {% assign count = 0 %}
            <!-- <h4 class="toggle"><span>+</span>{{ 'blogs.sidebar.recent_articles' | t }}</h4> -->
            <ul class="blog_list recent_articles">
              {% for article in blogs[blog_handle].articles %}
                {% unless article.id == current_article %}
                  <li>
                    <a href="{{ article.url }}" title="{{ article.title | escape }}">
                      <div class="recent_image">{% render 'image-element', image: article.image, alt: article.title, stretch_width: true, max-height: '130' %}</div>
                      <div class="recent_content {% if article.tags.size > 0 %}tag{% endif %}">
                        {% if article.tags.size > 0 %}<span class="tagging">{{ article.tags.first }}</span>{% endif %}
                        {{ article.title }}
                      </div>
                    </a>
                  </li>
                  {% assign count = count | plus: 1 %}
                {% endunless %}
                {% if count == 3 %}
                  {% break %}
                {% endif %}
              {% endfor %}
            </ul>

          {% elsif block.type == 'post_tags'  %}
            <h4 class="toggle"><span>+</span>{{ 'blogs.sidebar.categories' | t }}</h4>
            <ul class="blog_list toggle_list">
              {% if blogs[blog_handle].all_tags != blank %}
                {% for tag in blogs[blog_handle].all_tags %}
                  <li>
                    <a href="{{ shop.url}}/blogs/{{ blogs[blog_handle].handle }}/tagged/{{ tag | handleize }}" title="{{ blogs[blog_handle].title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a>
                  </li>
                {% endfor %}
              {% else %}
                <li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li>
              {% endif %}
            </ul>

          {% elsif block.type == 'text' %}
            <h4 class="toggle"><span>+</span>{{ block.settings.title | escape }}</h4>
            <ul class="blog_list toggle_list content_block">
              <li>{{ block.settings.text }}</li>
            </ul>

          {% elsif block.type == 'content_headings' %}
            <ul class="content_headings">
              {% assign content = article.content %}
              {% assign h2s = content | split: '<h2' %}
              
              {% for h2 in h2s %}
                {% assign h2_end = h2 | split: '</h2>' %}
                {% if h2_end[0] != h2 and h2.size != 0 %}
                  <li class="headingLinks">
                    <a href="#{{ h2_end[0] 
                      | downcase 
                      | replace: '&nbsp;', '' 
                      | replace: ' ', ''
                      | remove: '%C2%A0'
                      | replace: ' ', '-' 
                      | replace: '_', '-' 
                      | remove: '.' 
                      | remove: ',' 
                      | remove: '!' 
                      | remove: '#' 
                      | remove: '"' 
                      | remove: '@' 
                      | remove: '$' 
                      | remove: '>' 
                      | remove: '-data-mce-fragment=' 
                      | remove: 1
                      | remove: 2
                      | remove: 3
                      | remove: 4
                      | remove: 5
                      | remove: 6
                      | remove: 7
                      | remove: 8
                      | remove: 9
                      | remove: 0
                      | remove: '/'
                      | remove: '<span'
                      | remove: 'lang=en'
                      | strip_html 
                      | strip 
                      | escape 
                      | replace_first: '-', ''
                    }}">
                      <span>
                        {{ h2_end[0] 
                        | replace: '&nbsp;', '' 
                        | replace: ' ', ''
                        | remove: '%C2%A0'
                        | remove: '>'
                        | remove: '"' 
                        | remove: 'data-mce-fragment=1' 
                        | remove: 1 | remove: 2 | remove: 3 | remove: 4 | remove: 5 | remove: 6 | remove: 7 | remove: 8 | remove: 9 | remove: 0 
                        | remove: '.' 
                        | remove: '/'
                        | remove: '<span'
                        | remove: 'lang=EN'
                        | strip_html 
                        | strip 
                        | escape  }}
                      </span>
                      {% render 'arrow-red' %}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}

              <script>
                jQuery(document).ready(function () {
                  const sections = jQuery(".idSelectors");
                  const navLinks = jQuery(".headingLinks a");
              
                  function highlightNav() {
                      let scrollPosition = jQuery(window).scrollTop();
              
                      sections.each(function () {
                          let section = jQuery(this);
                          let sectionTop = section.offset().top - 200; // Adjust for better timing
                          let sectionId = section.attr("id");
              
                          if (scrollPosition >= sectionTop) {
                              // Remove active class from all links
                              navLinks.removeClass("active");
              
                              // Add active class to the current section's link
                              jQuery('.headingLinks a[href="#' + sectionId + '"]').addClass("active");
                          }
                      });
                  }
              
                  // Run on scroll
                  jQuery(window).on("scroll", highlightNav);
              
                  // Run on page load in case the page is not at the top
                  highlightNav();
                });
              </script>
            </ul>

          {% elsif block.type == 'cta' %}
            {% assign ctas = ctas | plus: 1 %}
            <div class="banner-section banner-sectionI banner-sectionI--{{ ctas }}">
              <div class="banner-section__image">
                {% if block.settings.link != blank %}
                  <a href="{% if ctas == 1 %}{{ article.metafields.cta1.cta_button.value.url | default: block.settings.link }}{% else %}{{ article.metafields.cta2.cta_button.value.url | default: block.settings.link }}{% endif %}">
                {% endif %}
                {% if block.settings.image != nil %}
                  
                  {% if ctas == 1 %}
                    {% assign block_i = article.metafields.cta1.cta_image.value | default: block.settings.image %}
                  {% else %}
                    {% assign block_i = article.metafields.cta2.cta_image.value | default: block.settings.image %}
                  {% endif %}
                  {% render 'image-element', image: block_i, alt: block.settings.image.alt, stretch_width: true, max-height: '600' %}
                {% else %}
                  {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--banner' }}
                {% endif %}
        
                {% if block.settings.link != blank %}
                  </a>
                {% endif %}
                {% if block.settings.image != blank or block.settings.title != blank or block.settings.text != blank or block.settings.button_label != blank %}
                  <div class="banner-section__caption">
                    <div class="container">
                      <div class="columns {% if block.settings.text_position == 'left' %} nine offset-by-one {% elsif block.settings.text_position == 'right' %} eight offset-by-seven {% else %} ten offset-by-three {% endif %} align_{{ block.settings.text_align }}">
                        {% if block.settings.title != blank %}
                          <h4 class="banner-section__caption-headline headline">
                            {% if ctas == 1 %}{{ article.metafields.cta1.cta_title.value | default: block.settings.title | escape }}{% else %}{{ article.metafields.cta2.cta_title.value | default: block.settings.title | escape }}{% endif %}
                          </h4>
                        {% endif %}
                        {% if block.settings.button_label != blank %}
                          <a {% if block.settings.link != blank %}href="{{ article.metafields.cta1.cta_button.value.url | default: block.settings.link }}"{% endif %} class="action_button {% if settings.button_style == 'outline' %}action_button--has-outline{% elsif settings.button_style == 'solid' %}action_button--is-solid{% endif %}
                        {% if settings.shop_button_style == 'rounded' or settings.shop_button_style == 'bevel' %}action_button--is-rounded{% endif %}
                        {% if settings.slideshow_shadow %}action_button--has-text-shadow{% endif %}
                        {% if settings.shop_button_style == 'bevel' %}action_button--is-bevel{% endif %}">
                            {% if ctas == 1 %}{{ article.metafields.cta1.cta_button.value.text | default: block.settings.button_label | escape }}{% else %}{{ article.metafields.cta2.cta_button.value.text | default: block.settings.button_label | escape }}{% endif %}
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
            
          {% endif %}
        </div>
      {% endfor %}
      
    </div>

    
    {{ "scrolling-headings.js" | shopify_asset_url | script_tag }}
  </div>
{% endif %}

