{% paginate article.comments by 100 %}

{% if article.image and section.settings.slideshow_article_enabled %}
  <div class="banner-section banner-featured dark-overlay--{{ section.settings.slideshow_post_darken }} wide_display--true">
    <div class="banner-section__image">
      {% render 'image-element', image: article.image, alt: article.image.alt, stretch_width: true %}

      {% if section.settings.blog_breadcrumb %}
        <div class="clearfix breadcrumb container">
          <div class="breadcrumb_text">
            <!-- <a href="{{ shop.url }}" title="{{ shop.name | escape }}">{{ 'general.breadcrumbs.home' | t }}</a> -->
            <!-- &nbsp; / &nbsp; -->
            <a href="{{ blog.url }}" title="{{ blog.title | escape }}">Blog</a>
            {% render 'right-arrow' %}
            <span class="articleTitle">{{ article.title }}</span>
          </div>
        </div>
      {% endif %}
    </div>
    
  </div>
{% endif %}

{% comment %}Check to see if sidebar should be enabled{% endcomment %}
{% if section.blocks.size > 0 %}
  {% assign sidebar = true %}
{% else %}
  {% assign sidebar = false %}
{% endif %}

<div class="container containerTitle">
  <div class="contentTitle">
    <h1 class="article_name">{{ article.title }}</h1>
  </div>
</div>

<div class="content container">
  <div class="contentInner">
    <div class="twelve columns contentCol {% if sidebar == false %}offset-by-two{% endif %}">
        {% if section.settings.blog_tags %}
          <div class="blog_meta tags {% if article.image and section.settings.slideshow_article_enabled %}right{% endif %}">
            {% for tag in article.tags %}
              <span><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
            {% endfor %}
          </div>
        {% endif %}
  
          <div class="blog_meta">
            {% if section.settings.blog_author %}
              <div>
                <div>{{ 'blogs.article.by_author' | t }}</div>
                <div class="blogData">
                  {% assign author_image = article.metafields.author.image | default: section.settings.author_basic %}
                  <div class="blogAuthorImage">{% render 'image-element', image: author_image, alt: article.image.alt, max_height: '45' %}</div>
                  {{ article.metafields.author.name | metafield_tag | default: section.settings.author_default | default: article.author }}
                </div>
              </div>
            {% endif %}
  
            {% if section.settings.blog_date %}
              <div>
                <div>Published on</div>
                <div class="blogData">{{ article.published_at | date: format: "month_day_year" }}</div>
              </div>
            {% endif %}
  
            {% if section.settings.blog_comment_count %}
              {% if settings.disqus_enabled %}
                <span>
                  <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                </span>
              {% elsif article.comments_enabled? and article.comments_count > 0 %}
                <span>
                  <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
                </span>
              {% endif %}
            {% endif %}
          </div>
  
          {% if article.image and section.settings.slideshow_article_enabled == false %}
            {% include 'image-element', image: article.image, alt: article.image.alt %}
          {% endif %}
  
          {% assign collection = article.metafields.feature.collecton.value.handle | default: section.settings.frontpage_collection %}
          {% capture my_collection %}
            <div class="collectionI">
              <div class="collectionHeading">
                <h2>Shop the Collection</h2>
                <a href="{{ article.metafields.feature.collecton.value.url | default: section.settings.frontpage_collection.url }}" 
                  class="action_button action_button--is-solid action_button--is-rounded action_button--has-text-shadow">
                  see all
                </a>
              </div>
              {% render 'blog-collection', collection: collection %}
            </div>
          {% endcapture %}
          
          <div class="contentWrapper">
            {% assign content = article.content %}
            {% assign h2s = content | split: '<h2' %}
            {% assign contentnew = '' %}
  
            {% capture my_section %}
              {% if article.metafields.feature.product %}
                {% render 'blog-product', product: article.metafields.feature.product.value %}
              {% else %}
                {% assign featured_collection = collections['shop-all'] %}
                {% assign featured_product = featured_collection.products.first %}
                {% render 'blog-product', product: featured_product %}
              {% endif %}
            {% endcapture %}
  
            {% assign productPos = h2s.size | minus: 3 %}
            {% assign productColl = h2s.size | minus: 1 %}
            {% for h2 in h2s %}
              {% assign h2_end = h2 | split: '</h2>' %}
              
              {% if h2_end[0] != h2 and h2.size != 0 %}
                {% assign clean_h2 = h2_end[0] %}
                
                {% assign heading_id = h2_end[0] 
                  | downcase 
                  | replace: '&nbsp;', '' 
                  | replace: ' ', ''
                  | remove: '%C2%A0'
                  | replace: ' ', '-' 
                  | replace: '_', '-' 
                  | remove: '.' 
                  | remove: ',' 
                  | remove: '!' 
                  | remove: '#' 
                  | remove: '"' 
                  | remove: '@' 
                  | remove: '$' 
                  | remove: '>' 
                  | remove: '-data-mce-fragment=' 
                  | remove: 1
                  | remove: 2
                  | remove: 3
                  | remove: 4
                  | remove: 5
                  | remove: 6
                  | remove: 7
                  | remove: 8
                  | remove: 9
                  | remove: 0
                  | remove: '/'
                  | remove: '<span'
                  | remove: 'lang=en'
                  | strip_html 
                  | strip 
                  | escape 
                  | replace_first: '-', ''
                %}
  
                {% assign contentnew = contentnew | append: '<span class="idSelectors" id="' | append: heading_id | append: '"></span><h2' | append: clean_h2 | append: '</h2>' | append: h2_end[1] %}
                
                {% if forloop.index == productPos %}
                  {% assign contentnew = contentnew | append: my_section %}
                {% endif %}
  
  
                {% if forloop.index == productColl %}
                  {% assign contentnew = contentnew | append: my_collection %}
                {% endif %}
  
              {% elsif h2 != 0 %}
                {% assign contentnew = contentnew | append: h2_end[0] | append: '</h2>' | append: h2_end[1] %}
              {% endif %}
            {% endfor %}
            
            {{ contentnew }}
    
            {% comment %}
              {{ article.content }}
            {% endcomment %}
          </div>
  
          {% if settings.disqus_enabled %}
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = "{{ canonical_url }}";
                    this.page.identifier = "{{ article.id }}";
                };
                (function() {
                    var d = document, s = d.createElement('script');
                    s.src = '//{{ settings.disqus_shortname }}.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          {% endif %}
    </div>
  
    {% render "blog-sidebar", blog_handle: blog.handle %}
  </div>
</div>

  {% if section.settings.blog_additional_articles %}
    <div class="container additionalBlogs">
    {% if section.settings.blog_additional_articles and blog.articles_count > 1 %}
      <div class="section clearfix">
        <h3>{{ 'blogs.article.additional_articles' | t: title: blog.title }}</h3>

        {% assign article_found = false %}
        {% for a in blog.articles limit: 4 %}
          {% assign skip_article = false %}
          {% if article_found == false and forloop.last %}
            {% assign skip_article = true %}
          {% endif %}
          {% if article.id == a.id %}
            {% assign article_found = true %}
            {% assign skip_article = true %}
          {% endif %}
          {% unless skip_article %}
            <div class="four columns {% cycle 'alpha', ' ', 'omega' %} article">
              {% if a.image %}
                <a href="{{ a.url }}" title="{{ a.title | escape }}">
                  {% render 'image-element', image: a.image, alt: a.image.alt %}
                </a>
              {% endif %}

              {% if section.settings.blog_tags %}
                <div class="blog_meta tags">
                  {% for tag in a.tags %}
                    <span><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title | escape }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
                  {% endfor %}
                </div>
              {% endif %}

              <h5 class="sub_title">
                <a href="{{ a.url }}" title="{{ a.title | escape }}">{{ a.title }}</a>
              </h5>
              <p class="blog_meta">
                {% if section.settings.blog_author %}
                  <span>{{ 'blogs.article.by_author' | t: author: a.author }}</span>
                {% endif %}

                {% if section.settings.blog_date %}
                  <span>{{ a.published_at | date: format: "month_day_year" }}</span>
                {% endif %}

                {% if settings.disqus_enabled %}
                  <span>
                    <a href="{{ a.url }}#disqus_thread" data-disqus-identifier="{{ a.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                  </span>
                {% elsif a.comments_enabled? and a.comments_count > 0 %}
                  <span>
                    <a href="{{ a.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: a.comments_count }}</a>
                  </span>
                {% endif %}
              </p>

              {% if a.excerpt != blank %}
                {% assign postexcerpt = a.excerpt | size %}
                  {% if postexcerpt > 100 %}
                    {% assign excerptlength = 'lg' %}
                  {% elsif postexcerpt <= 50 %}
                    {% assign excerptlength = 'sm' %}
                  {% endif %}
                  <div class="excerpt excerpt-length--{{ excerptlength }} {{ postexcerpt }}">
                    {{ a.excerpt }}
                    <span class="truncation-fade"></span>
                  </div>
              {% endif %}
              {% if section.settings.read_more_link %}
                <p>
                  <a href="{{ a.url }}" title="{{ a.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }}</a>
                </p>
              {% endif %}
            </div>
          {% endunless %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% endif %}
{% endpaginate %}

<script>
  jQuery(document).ready(function(){
    // Select all anchor links with the 'scroll-link' class
    jQuery('.headingLinks a').on('click', function(event) {
      // Prevent the default action of the anchor tag (which is jumping directly to the section)
      event.preventDefault();
      
      // Get the target section's ID from the href attribute
      var target = jQuery(this).attr('href');
      
      // Animate the scroll to the section
      jQuery('html, body').animate({
        scrollTop: $(target).offset().top - 100 // Scroll to the top of the target section
      }, 1000); // 1000 ms is the duration of the animation (1 second)
    });
  });

</script>

<script type="text/javascript">
  // <![CDATA[
    $(function() {
      if(window.location.pathname.indexOf('/comments') != -1) {
        $('html,body').animate({scrollTop: $("#new-comment").offset().top-140},'slow');
      }
    });
  // ]]>
</script>

{% schema %}

{
  "name": "Blog post",
  "class": "article-template-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "slideshow_article_enabled",
      "label": "Show article banner image",
      "info": "The blog post's featured image will be used as a full-width banner",
      "default": false
    },
    {
      "type": "text",
      "id": "author_default",
      "label": "Author default name"
    },
    {
      "type": "image_picker",
      "id": "author_basic",
      "label": "Image author basic"
    },
    {
      "type": "collection",
      "id": "frontpage_collection",
      "label": "Feature collection on blog content"
    },
    {
      "type": "richtext",
      "id": "product_title",
      "label": "Product title"
    },
    {
      "type": "image_picker",
      "id": "product_feature",
      "label": "Image feature product"
    },
    {
      "type": "image_picker",
      "id": "image_feature",
      "label": "Image feature product bg"
    },
    {
      "type": "checkbox",
      "id": "slideshow_post_darken",
      "label": "Darken banner image",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_breadcrumb",
      "label": "Show breadcrumb links",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_tags",
      "label": "Show tags",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_author",
      "label": "Show author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_comment_count",
      "label": "Show comment count",
      "default": true
    },
    {
      "type": "header",
      "content": "Additional posts"
    },
    {
      "type": "checkbox",
      "id": "blog_additional_articles",
      "label": "Show additional posts on blog post page",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "read_more_link",
      "label": "Show continue reading link",
      "default": true
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
     {
       "type": "post_tags",
       "name": "Blog post tags",
       "limit": 1
     },
     {
       "type": "menu",
       "name": "Menu",
       "settings": [
         {
           "type": "link_list",
           "id": "custom_menu_linklist",
           "label": "Menu"
         }
       ]
     },
     {
       "type": "newsletter",
       "name": "Newsletter sign up form",
       "limit": 1,
       "settings": [
          {
            "type": "richtext",
            "id": "newsletter_richtext",
            "label": "Text"
          }
       ]
     },
     {
       "type": "page",
       "name": "Page",
       "settings": [
         {
           "type": "page",
           "id": "content_page",
           "label": "Page"
         }
       ]
     },
     {
       "type": "recent_posts",
       "name": "Recent blog posts",
       "limit": 1
     },
     {
       "type": "search",
       "name": "Search form",
       "limit": 1
     },
     {
       "type": "text",
       "name": "Text",
       "settings": [
         {
           "type": "text",
           "id": "title",
           "label": "Heading",
           "default": "Heading"
         },
         {
           "type": "richtext",
           "id": "text",
           "label": "Text",
           "default": "<p>Text area can be used for details about blog authors or general information.</p>"
         }
       ]
     },
    {
      "type": "content_headings",
      "name": "Content navigation",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "h2",
          "label": "H2"
        }
      ]
    },
    {
      "type": "cta",
      "name": "CTA",
      "limit": 2,
      "settings": [
        {
          "type": "checkbox",
          "id": "wide_display",
          "default": true,
          "label": "Wide display"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 1000px recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your headline here"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>This is a short subheading for your banner image</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    }
   ]
 }

{% endschema %}
